p{
 font-size:12;
 color:black;
 font:"font: 15px Arial,sans-serif;"
}

p.speech {
    font-size=15px;
    font-family: sans-serif;
    color: black;
}

h6{
    font-size: 16px;
    color: cadetblue;
}

p.stagedirections{
    background-color:yellowgreen;
}

p.stagedirections:hover{
    color:white;
    background-color:skyblue;
}
h6.Gwendolen{
    color:blue;
    margin-left: 20px;
}
h6.CECILY{
    color:blue;
    margin-left: 20px;
}
h6.Gwendolen:hover{
    color: red;
    text-shadow:2px 3px 5px purple;
    border: red;
    filter: blur(1px);
}

h6.CECILY:hover{
    color: red;
    text-shadow:2px 3px 5px purple;
    border: red;
    filter: blur(1px);
}
table, th, td {
    border: solid 1px ;
    text-align: center;
    width: 30%;
    color: black;
    padding: 5px;
    margin: 10px;
  }
  tr:nth-child(even) {
    background-color:#ccc;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: ruby-base-container;
    padding: 8px;
    background-color: #dddddd;
  }
  .icon:before{
    content: '';
    background:url('icon.png');
    background-size:cover;
    position:absolute;
    background-color: skyblue;
    width: 25px;
    height:35px;
    margin-left:-8px;
}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 40px;
    right: 30px;
    height: 400px;
    width: 325px;
}
