p{
 font-size:12;
 color:black;
 font:"font: 15px Arial,sans-serif;"
}

p.speech {
    font-size=15px;
    font-family: sans-serif;
    color: black;
}

h6{
    font-size: 16px;
    color: cadetblue;
}

p.stagedirections{
    background-color:yellowgreen;
}

p.stagedirections:hover{
    color:white;
    background-color:skyblue;
}
h6.Gwendolen{
    color:blue;
}
h6.CECILY{
    color:blue;
}

